<!DOCTYPE html>
<html dir="@(ViewBag.langId != 1 ? "ltr" : "rtl")" lang="@(ViewBag.langId != 1 ? "En" : "Fa")">
<head>
    @RenderSection("Meta", required: false)
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="~/lib/css/bundlev2.min.css" rel="stylesheet" preload />
    <link rel="preload" href="/fonts/ShemsheTalaIcon.woff2" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/fonts/ShemsheTalaTITR.woff2" as="font" type="font/woff" crossorigin="anonymous">
    @RenderSection("Header", required: false)
    @await Component.InvokeAsync("JsTools")   
</head>
<body>
    @await Component.InvokeAsync("Header")
    <main>
        @RenderBody()
    </main>
    @await Component.InvokeAsync("Footer")
    <script src="~/lib/js/bundlevendorv2.min.js"></script>
    <script src="~/lib/js/bundlev2.min.js" defer></script>
    @RenderSection("scripts", required: false)
</body>
</html>